@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1.5px, transparent 1.5px);
  background-size: 30px 30px;
  background-position: 0 0;
  min-height: 100vh;
  margin: 0;
  color: #fff;
  position: relative;
}

/* index.css */
@layer base {

  /* For Webkit browsers like Chrome and Brave */
  input:-webkit-autofill {
    background-color: #1f2937 !important;
    /* Dark background */
    color: white !important;
    /* White text */
    box-shadow: 0 0 0px 1000px #2d3748 inset !important;
    /* Remove inner box-shadow */
    border: 1px solid #4A5568 !important;
    /* Border color */
  }

  /* When the input is focused in Webkit browsers like Chrome and Brave */
  input:-webkit-autofill:focus {
    background-color: #1f2937 !important;
    color: white !important;
    box-shadow: 0 0 0px 1000px #2d3748 inset !important;
    border: 1px solid #3182ce !important;
    /* Blue border when focused */
  }

  /* For Firefox */
  input:-moz-autofill {
    background-color: #1f2937 !important;
    color: white !important;
    border: 1px solid #4A5568 !important;
  }

  input:-moz-autofill:focus {
    background-color: #1f2937 !important;
    color: white !important;
    border: 1px solid #3182ce !important;
    /* Blue border when focused */
  }
}